[2015-02-09 09:09] linuxwit opened #1 "resize error"
在手机浏览器中，由于手机浏览器会自动隐藏地址栏会出现不充满全屏的情况

[2015-02-09 09:23] yanhaijing commented on #1
hi 可以提供下你的手机型号
现在没有做resize和旋转的处理
这个后序会加上

[2015-02-10 08:14] yanhaijing commented on #1
hi maste分支最新代码已经修复了这个问题，在屏幕旋转和尺寸改变时会重新渲染
同时还带了很多新特性包括但不限于增强的事件，暴漏的方法，及丰富的demo

[2015-02-10 08:14] #1 closed, assigned to yanhaijing

[2015-02-11 04:44] luciy opened #3 "Why don't you use 'translateY'."
Why don't you use 'translateY'.

[2015-02-11 05:10] yanhaijing commented on #3
hi 你好，首先欢迎反馈
这是因为安卓2.3不支持translate
后序准备做个兼容处理，支持translate的优先用translate

[2015-02-11 05:10] yanhaijing commented on #3
http://caniuse.com/#search=transform

[2015-02-11 05:34] luciy commented on #3
如果需要兼容安卓2.3得话确实需要做一个兼容处理，因为利用top并没有translateY性能好，至少在兼容的手机上是这样。
还有就是动画利用transition，而moveTo函数中确定动画结束是利用setTimeout，是否考虑利用webkitTransitionEnd来解决动画结束后回调哦。

[2015-02-11 05:41] yanhaijing commented on #3
第一个问题是要解决的，后序会做一个兼容处理，感谢反馈
第二个问题 我还没想好，timeout的好处是可以自定义这个时间，因为可能作者希望本屏动画全部播放完才能切换，而不是切换的动画完成，这个还要在考虑下，感谢反馈

[2015-02-11 06:44] mask2012 commented on #3
没什么，就是来赞一下

[2015-02-11 07:22] yanhaijing commented on #3
感谢支持

[2015-02-11 14:08] linuxwit commented on #1
谢谢

[2015-02-11 15:29] jerrylau91 opened #5 "Try to open a issue"
Nothing, just test. See your project from WB.

[2015-02-11 15:29] #5 closed, assigned to yanhaijing

[2015-02-11 15:30] jerrylau91 commented on #3
关注一下！

[2015-02-12 01:58] yanhaijing commented on #5
heh your are welcome

[2015-02-12 01:58] yanhaijing commented on #3
感谢大家的支持

[2015-03-12 12:19] polly343900 opened #6 "e.preventDefault();"
是为了阻止冒泡么？这样导致页面里的锚点标签无法跳转了。。:)

[2015-03-26 07:02] vvkee opened #8 "有些问题反馈，希望项目越来越好"
1、是否不支持左右滑动，在move事件中只有Y轴的计算
2、回调函数，befor与after的索引问题
3、不支持循环滚动

最后，感谢您的分享！谢谢

[2015-03-26 07:36] yanhaijing commented on #8
感谢您的反馈
1. 这个已经在议程之中
2. 这个问题可否说的详细些，没明白
3. 这个也在议程中

最近忙于其他项目，过段时间会开发这些功能

[2015-04-01 07:16] dolymood commented on #3
其实不是android2.3不支持transform，是不支持3d transform，还有bug，其实从2.1就开始支持了
，但需要前缀。在fullpage的场景里，使用起来问题不大。参见 https://developer.mozilla.org/en-US/docs/Web/CSS/transform

[2015-04-01 08:33] yanhaijing commented on #3
嗯 好的多谢反馈 原来我使用caniuse的方法有误，导致以为从4.0才开始兼容，这个问题过一段时间修好，会在0.2.0版本中带来

[2015-04-01 14:57] #3 closed, assigned to yanhaijing

[2015-04-01 14:59] yanhaijing commented on #8
3、 见https://github.com/yanhaijing/zepto.fullpage/issues/3

[2015-04-01 15:05] yanhaijing commented on #6
hi 你好preventDefault实在父元素上，不会阻止页面内部的a标签的

[2015-04-01 15:11] yanhaijing opened #9 "【官方】收集使用zepto.fullpage的项目"
欢迎大家反馈，我先来个demo（下面这些链接都失效了，可以继续查看其他人的回复）：

百度知道：
- [百度知道：已解决问题量破四亿：你不知道的百度知道](http://zhidao.baidu.com/s/four-billion/index.html)
- [百度知道：十周年·大事记](http://zhidao.baidu.com/s/10th-bigdata/index.html)
- [百度知道：十周年用户](http://zhidao.baidu.com/s/ten-user/index.html)
- [百度知道：百度知道APP5.0，不止于知识](http://zhidao.baidu.com/s/5_0-page/index.html)
- [百度知道：知道行家虚位以待](http://zhidao.baidu.com/s/mavin/index.html)
- [百度知

[2015-04-16 07:21] zdpdsy commented on #8
1.滑动的页面中放个a标签，点击无反应

[2015-04-16 09:00] yanhaijing commented on #8
@zdpdsy 你好 有这个问题吗？没有吧？见 #6

[2015-04-16 11:59] zdpdsy commented on #8
确实没反应
加了个a标签 代码如下
![qq 20150416200405](https://cloud.githubusercontent.com/assets/7123339/7180463/a27700e2-e474-11e4-9bd9-b4fc1406d2f9.png)

在谷歌下模拟iphone5运行环境，点击这个a标签无效

[2015-04-17 02:08] yanhaijing commented on #8
嗯 试了一下确实是这样的，可以添加如下代码加以解决：

[code]

[2015-04-17 02:08] #8 closed, assigned to yanhaijing

[2015-04-17 02:09] yanhaijing commented on #6
这个问题参看 #8 的解决方法

[2015-04-17 02:09] #6 closed, assigned to yanhaijing

[2015-04-27 08:22] qnmlgdsb opened #10 "新添加的水平的demo里的箭头效果应该是横向的吧"
能修改好的话就完美了。

[2015-04-27 08:37] yanhaijing commented on #10
hi 首先感谢反馈，这个应该是横向的，我有时间会改一下，只是demo的问题，程序是支持横向的。

fullpage.js是不提供箭头的，这个可以自己实现

[2015-04-27 08:45] yanhaijing opened #11 "页面中的input表单无法focus怎么办？"

[2015-04-29 13:55] yanhaijing opened #12 "zepto.fullpage.js怎么取消触屏滑动事件，只保留点击滑动事件？"
http://segmentfault.com/q/1010000002716472?_ea=188272

[2015-04-29 14:38] yanhaijing commented on #12
请问你想实现的是取消向上，而点击切换吗？
可以用如下的方式：

[code]

为了阻止过快切换，可以设置duration 属性

[2015-04-30 05:21] ibcLee commented on #12
Get！

[2015-05-03 11:56] #12 closed, assigned to yanhaijing

[2015-05-04 06:53] yanhaijing commented on #11
添加如下代码：

[code]

[2015-05-04 06:53] #11 closed, assigned to yanhaijing

[2015-05-04 07:45] #10 closed, assigned to yanhaijing

[2015-05-09 13:39] atcchh commented on #9
Good

[2015-05-09 14:18] yanhaijing commented on #9
@atcchh thx

[2015-05-11 04:03] huqiliang opened #14 "第71行建议修改下"
第71行建议修改下 this.height = $(window).height();

[2015-05-11 04:56] yanhaijing commented on #14
hi，首先感谢你提出宝贵的建议，但这个我不能接受，原因如下：
zepto.fullpage 可以在页面区域内使用，而不是整个屏幕，而且，下一个版本，计划一个页面内可以存在多个实例

[2015-05-11 04:56] #14 closed, assigned to yanhaijing

[2015-05-11 05:17] huqiliang commented on #14
哦 这样子的 我是发现页面背景显示到下面去了 感谢你的插件 目前使用还不错

[2015-05-11 05:57] yanhaijing commented on #14
#

哦 这样子的 我是发现页面背景显示到下面去了 感谢你的插件 目前使用还不错

@huqiliang 这个是什么意思，我不太明白
注：如果有线上的项目在使用的话，可以把地址发我，我在收集使用的项目

[2015-05-11 06:00] huqiliang commented on #14
没有上线 可能跟我的使用环境有关系

[2015-05-11 06:00] huqiliang commented on #14
没有上线 可能跟我的使用环境有关系

[2015-05-11 06:16] yanhaijing commented on #14
好的有什么问题可以写出来，一起探讨，真个代码都经过生产环境的考研，兼容列表里面写的环境都经过严格测试，不应该会有兼容性的问题。

[2015-05-12 07:50] yanhaijing opened #16 "现在的zepto.fullpage不支持超出内容出滚动条啊，这个可以加进去吗，期待您的回复"
现在的zepto.fullpage不支持超出内容出滚动条啊，这个可以加进去吗，期待您的回复

我叫小马

[2015-05-12 07:52] yanhaijing commented on #16
hi你好，
这个要实现的是单页滚动效果，超出内容除滚动条这个逻辑很奇怪，不知道你想在什么场景下应用呢，这个想不出加的理由

[2015-05-12 07:57] lmqwudi opened #17 "有人遇到卡顿的情况吗？"

[2015-05-12 08:05] jiadaoyun commented on #16
有些页面内容过多，比如文字图片什么的。
我知道目前实现的是单页全屏切换效果，JQ-fullpage是有这个功能了，现在不是觉得您的东西好，想学习一下

[2015-05-12 08:30] yanhaijing commented on #17
可以提供下机型 系统 浏览器信息
卡顿到什么程度？哪个过程卡顿？

[2015-05-12 08:31] yanhaijing commented on #16
hi 你好，提供以下jqfullpage 超出滚动的demo最好不过了

[2015-05-12 08:35] jiadaoyun commented on #16
大牛好，他的文件比较容易找到，具体配置如下：

$(function(){
    $('#jinxin').fullpage({
        scrollOverflow:true,
    });
});

文件地址：
https://github.com/alvarotrigo/fullPage.js

[2015-05-12 08:44] yanhaijing commented on #16
好的感谢反馈 我研究一下，有什么问题就提出来

[2015-05-12 08:47] yanhaijing commented on #16
@jiadaoyun 看了一下demo，这个和普通的页面没区别啊，这个属性有些鸡肋

[2015-05-12 09:05] jiadaoyun commented on #16
目的就是为了解决页面过多，而超出一屏后的处理方法啊，我现在真的需要。

[2015-05-12 09:26] yanhaijing commented on #16
@jiadaoyun zepto.fullpage 主张简单，尽量把事情都交给用户去做，只做核心功能，而且是专注于移动端，对于移动端的小屏，建议用媒体查询，做一下响应式，或隐藏掉无关元素
如果你特别需要这个功能，可以尝试修改下，并发个pr thx

[2015-05-12 09:26] #16 closed, assigned to yanhaijing

[2015-05-12 09:39] zhujunel commented on #9
用在原生app里面的http://www.zhujunel.com/demo/2015-04-30/wap.html         还有一些，懒得贴了，谢谢这个插件zepto.fullpage

[2015-05-12 11:50] yanhaijing commented on #17
如果动画卡顿，可适当开启css3加速试一下

[2015-05-12 11:53] lizheming opened #18 "引导页转到正常页"
http://weibo.com/1649383554/Cgqjm0WmI
请问 fullPage 做的引导页然后再转入正常的 responsive 网站页面这种需求（就和平常开 App 有个介绍页一样）应该怎么做？

[2015-05-13 01:41] yanhaijing commented on #18
fullpage可以内嵌到父元素，其定位什么的都依赖父元素，可以将父元素隐藏掉就可以了，然后将正常网页显示，也可以跳转到其他页面哈，感觉就是一个隐藏 显示的过程

[2015-05-13 02:15] lmqwudi commented on #17
http://182.92.233.150/，手机型号5s iPhone 微信

[2015-05-13 02:33] yanhaijing commented on #17
建议升级一下最新版本，看了下你用的这个版本是有点问题的

[2015-05-13 12:44] lizheming commented on #18
如何做到滑动到最后一下的时候显示父元素呢？

[2015-05-14 01:50] yanhaijing commented on #18
https://github.com/yanhaijing/zepto.fullpage/blob/master/doc/api.md 的 change属性可以做到，可以看一下文档

[2015-05-14 14:03] rrkelee opened #19 "最后一页向倒数第二页滑动的时候会有闪屏。"
![](http://ww3.sinaimg.cn/large/acf60cddgw1es44pnfb1dj20u01hc42t.jpg)

[2015-05-15 01:41] yanhaijing commented on #19
如果能提供你程序的线上访问地址就更好了，方便我排查问题，或者你用demo里的例子试一下有没有这个问题，确定下是否是zepto.fullpage的问题

[2015-05-15 03:16] rrkelee commented on #19
是我自己的问题。。。sorry。。。

![](http://ww3.sinaimg.cn/large/acf60cddgw1es4rmpg0lej204a04gaa1.jpg)

[2015-05-15 03:24] #19 closed, assigned to yanhaijing

[2015-05-15 05:41] yanhaijing commented on #19
没关系，感谢积极反馈问题。
注：如果有线上链接，欢迎发到 #9

[2015-05-15 08:00] rrkelee commented on #9
http://d.cqhxfk.com/game/0505/ 非移动端会跳转。

感谢。

[2015-05-18 09:04] #18 closed, assigned to yanhaijing

[2015-05-19 09:53] yanhaijing opened #21 "【官方】收集H5单屏滚动页面的Demo"
大家有好，有创意的例子，发这里，一起迸发灵感，互相学习哈。

参考格式：

出处
名字
推荐指数：★★★★★
url

**注意：**此处仅收集好的例子，请不要发广告

[2015-05-19 09:57] yanhaijing commented on #21
UC浏览器十周年
推荐指数：★★★★★
http://www.uc.cn/topic/uc10/index.html

UP2015-腾讯互动娱乐年度发布会
致另一个“无用”的我
推荐指数：★★★★★
http://up.qq.com/2015/invitation/index.htm

百度知道
APP5.0落地页
推荐指数：★★★★
http://zhidao.baidu.com/s/5_0-page/index.html

WE大会
抢码观看WE直播
推荐指数：★★★★★
http://web.liveapp.cn/

大闸蟹众筹
推荐指数：★★★
http://hahnzhu.sinaapp.com/demo/140825_dazhaxie/html/index.html

百度文库
文库五周年_历程
推荐指数：★
http://wk.baidu.com/activity/brow

[2015-05-19 09:58] yanhaijing commented on #21
UP2015-腾讯互动娱乐年度发布会
致另一个“无用”的我
http://up.qq.com/2015/invitation/index.htm

[2015-05-19 10:08] BerryMay commented on #21
刚刚学H5的东西，公司需要做一个H5单页滚动的效果，用了swiper.js做单屏滚动效果，控制容器大小即可。
因初学，js很是拙劣，部分手机显示效果可能不理想。不过使用swiper.js感觉还是不错的！

附上简单成果：
http://app.fingard.com.cn:9000/appDelegate/web/app/lightpaper/april_top/paper.html
抛砖引玉下，希望能给你更好的思路！

在 2015-05-19 17:53:36，"颜海镜" <notifications@github.com> 写道：

大家有好的例子，发这里，一起迸发灵感

—
Reply to this email directly or view it on GitHub.

[2015-05-19 10:08] yanhaijing commented on #21
百度知道
APP5.0落地页
http://zhidao.baidu.com/s/5_0-page/index.html

[2015-05-19 10:13] smallke commented on #21
强烈推荐我厂的 APP推广页
http://www.kanjian.com/m/IM

[2015-05-19 10:21] yanhaijing commented on #21
WE大会
抢码观看WE直播
推荐指数：★★★★★
http://web.liveapp.cn/

[2015-05-19 10:21] yanhaijing commented on #21
WE大会
抢码观看WE直播
推荐指数：★★★★★
http://web.liveapp.cn/

[2015-05-19 10:24] yanhaijing commented on #21
大闸蟹众筹
推荐指数：★★★
http://hahnzhu.sinaapp.com/demo/140825_dazhaxie/html/index.html

[2015-05-19 10:27] yanhaijing commented on #21
百度文库
文库五周年_历程
推荐指数：★
http://wk.baidu.com/activity/browse/wapwenku5zhounian

[2015-05-19 10:34] yanhaijing commented on #21
恰恰瓜子
吃货者联盟
推荐指数：★★★★
http://create.maka.im/k/650X2KD9

[2015-05-20 01:33] yanhaijing commented on #21
腾讯
腾讯2015第一季度业绩简报
推荐指数：★★★★★
http://cdn.m.tencent.com/fm/fr/2015/q1/html/index.html

[2015-05-20 02:37] yanhaijing opened #22 "zepto.fullpage如何制作视差效果？"

[2015-05-20 05:12] yanhaijing commented on #9
百度经验：关于表白这事儿
http://jingyan.baidu.com/z/2015-520/index.html

[2015-05-20 05:13] yanhaijing commented on #21
悦己85后中国女性调查报告
推荐指数：★★★
推荐理由：别出心裁的动画效果
http://m.self.com.cn/mfeature/2015trueheart-report

[2015-05-20 05:14] yanhaijing commented on #21
百度外卖
2015年招聘火爆来袭！Family等你加入！
推荐指数：★★★
推荐理由：大胆的横屏滚动效果
http://waimai.baidu.com/static/mwaimai/zt/recruit/recruit.html

[2015-05-20 05:16] yanhaijing commented on #21
百度作业帮
一周年：感恩有你，换个方式来学习！
推荐指数：★★★
推荐理由：开场动画很棒
http://shushuo.baidu.com/act/zuoye2014/

[2015-05-20 05:17] yanhaijing commented on #21
网易
明星的反击_明星念网友毒舌跟帖并反击
推荐指数：★★★
推荐理由：for baby
http://ent.163.com/special/mingxingdefanji

[2015-05-20 08:16] yanhaijing commented on #6
这个问题现在以修复，[v0.3.1](https://github.com/yanhaijing/zepto.fullpage/releases/tag/v0.3.1) 后不再阻止

[2015-05-20 08:17] yanhaijing commented on #8
@zdpdsy 1.滑动的页面中放个a标签，点击无反应
这个问题现在以修复，[v0.3.1](https://github.com/yanhaijing/zepto.fullpage/releases/tag/v0.3.1) 后不再阻止
参考 #6

[2015-05-20 08:50] yanhaijing commented on #9
百度经验
关于表白这事儿
http://jingyan.baidu.com/z/2015-520/index.html

[2015-05-21 05:45] yanhaijing commented on #21
腾讯
手机QQ空间5.0预约
推荐指数：★★★★
推荐理由：duang duang的效果
http://m.isux.us/qz-act/vip/20140903-qzonev5/m-index.html

[2015-05-22 01:58] yanhaijing opened #23 "【官方】收集H5单屏滚动页面制作相关的资料"
下面是我收集的关于制作H5单屏滚动页面的相关资料：
- [玩转HTML5移动页面(动效篇)](http://isux.tencent.com/play-with-html5-animate.html)
- [玩转HTML5移动页面(优化篇)](http://isux.tencent.com/play-with-html5-optimize.html)
- [滑屏 H5 开发实践九问](https://isux.tencent.com/nine-question-of-swipe-html5-page.html)
- [你见过最炫酷的微信html5营销或宣传页面是哪个？](http://www.zhihu.com/question/29015630)
- [那些过目不忘的H5页面](http://isux.tencent.com/great-mobile-h5-pages.html)

也欢

[2015-05-22 08:18] mcattx opened #24 "在mac下demo文件夹里的demo页面都运行不起来？"
我 `git clone`项目到本地后，直接在`chrome`浏览器打开`basic.html`，发现在`chrome`的手机模拟器里模拟向上滑动没效果，但是`console`控制台也没有报错，我设置了断点发现`js`也有执行。

运行环境：
OSX: 10.9.5
Chrome: 42.0.2311.152（64-bit）
项目版本: zepto.fullpage.js v0.3.1

另外，我在windows下`git clone`项目直接打开`basic.html`，发现在`chrome`的手机模拟器里模拟向上滑动正常。

[2015-05-22 09:00] yanhaijing commented on #24
hi 你好，可否看一下父元素的样式，是否失效了？我这没有mac (┬＿┬)

[2015-05-22 09:17] mcattx commented on #24
@yanhaijing  父样式没问题。

[code]

[2015-05-24 07:16] yanhaijing commented on #24
hi 你好，我是说看下控制台中，wp-inner的transform 属性是否挂了，这个是用js计算的，可能有兼容性问题，麻烦帮忙看下，我这边没有环境

[2015-05-24 07:28] yanhaijing commented on #23
http://www.zhihu.com/question/29015630

[2015-05-24 07:28] yanhaijing commented on #23
http://isux.tencent.com/great-mobile-h5-pages.html

[2015-05-27 12:34] hacke2 commented on #24
哈哈，@yanhaijing 该整个mac了， 我这边没问题

运行环境：
OSX: 10.10.3
Chrome: 43.0.2357.81 (64-bit)
项目版本: zepto.fullpage.js v0.3.1

[2015-05-27 13:26] yanhaijing commented on #24
@hacke2 感谢反馈，坐等公司给发mac了 :-)

[2015-05-28 03:28] mcattx commented on #24
@yanhaijing 今天再试了一下发现可以了。@-@
可以把这个 issue 关掉了。

[2015-05-28 03:39] yanhaijing commented on #24
@titancat 感谢反馈，是不是你把chrome升级了 :-)

[2015-05-28 03:39] #24 closed, assigned to yanhaijing

[2015-05-28 09:43] techbirds opened #25 "百度知道App5.0中的动画是如何实现的？"
求指点。

[2015-05-29 01:41] yanhaijing commented on #25
zepto。fullpage的原理就是给当前页，添加一个cur class，你可以在这个cur class下做做动画

[code]

[2015-05-30 22:13] techbirds commented on #25
恩，非常感谢，还有就是关于其元素的动画例如淡入淡出，动画移动等等效果是如何实现的？

[2015-05-30 22:20] yanhaijing commented on #25
@techbirds 这些都是css3的transition 或 animation

[2015-05-30 22:42] techbirds commented on #25
恩，那我学习下。thx。

[2015-05-30 23:03] techbirds commented on #25
麻烦多问一句,百度知道APP5.0中的下载连接如何自动跳转至AppStore的？链接是应用宝微信的移动推广连接，我的应用貌似只支持Android系统的跳转下载。IOS点击则提示「抱歉，当前不支持IOS版的下载」。但是我IOS也提交了对应的AP，难道应用宝需要与Appstore绑定什么吗？

[2015-05-31 08:47] yanhaijing commented on #25
我这边就是百度知道在appstore的链接，就可以了

[2015-05-31 13:31] techbirds commented on #25
不是把，这是百度知道的下载连接：http://a.app.qq.com/o/simple.jsp?pkgname=com.baidu.iknow

[2015-05-31 13:44] yanhaijing commented on #25
哦 对了 微信里是要放应用宝的链接才可以，要放app在应用宝的链接，不然会被拦截

[2015-05-31 13:48] techbirds commented on #25
恩是的，那么问题就是应用宝貌似只对android分发的吧。该连接如何做到区分ios/android OS的并能自动跳转至相应的市场？

[2015-05-31 21:42] yanhaijing commented on #25
应用宝自己会做跳转的，ios就会自动跳到appstore

[2015-06-01 01:19] techbirds commented on #25
anyway thx.

[2015-06-01 01:19] #25 closed, assigned to yanhaijing

[2015-06-10 01:45] yanhaijing opened #26 "为何不提供官网"

[2015-06-14 12:43] Kaijun opened #27 "单页高度手动设置成100vh后 自动计算后的高度比设备高度 要高出很多"
例如我有3个pages, 每页都设置成height: 100vh. 通过pullpage之后, 实际高度 大概是2倍的100vh, 不知道能否解决?

[2015-06-14 12:45] Kaijun commented on #27
同时我也在想 为何设计上不直接用vh作为高度计量标准, 这样子会有什么不妥的地方吗?

[2015-06-15 01:49] yanhaijing commented on #27
hi你好，首先感谢你使用fullpage
由于我对vh不是很了解，你可否给我发一个有问题的demo，研究一下，现在的高度是通过js计算的，获取的是父元素的高度

[2015-06-15 09:13] shenyulin opened #29 "js追加，插件失效？？？？？？？"
执行以下操作后插件失效？？？？？？？？？？？？？
1、隐藏wrap；
2、JS往wp-inner容器中追加内容，如下：
  <div class="page">
          <img src="../../Content/images/order3.jpg" alt="" />
   </div>

3、显示wrap，并执行

[2015-06-15 11:50] yanhaijing commented on #29
hi图片挂了，咋回事

插件需要获取wrap的高度，来确定每个的高度，隐藏了就不获取高度了，所以不能隐藏

[2015-06-16 13:24] Kaijun commented on #27
@yanhaijing
感谢你的解答, 看了下源码 原来获取的是最外层wp的高度, 因为我之前没有手动设置过wp的样式, 所以导致wp被自动填充成所有页面高度.

至于我说的100vh 我的意思是 Fullpage实例的this.height 可以不取父元素的高度 直接 等于100vh(就是设备的高度)

[2015-06-16 15:25] Kaijun opened #30 "建议: 增加复合模式, 同时实现 Horizontal + Vertical"
我目前的需求是  同时有水平和垂直的

H(0) &nbsp;&nbsp;&nbsp;H(1)   &nbsp;&nbsp;&nbsp;H(2)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;V(1)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;V(2)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;V(3)

但是具体实现过程中, 我是这样做的, 顺序运行
$('.wp-inner-vertical').fullpage();
$('.wp-inner-horizontal').fullpage({dir: 'h'});

我发现是有问题的:
- zepto.f

[2015-06-17 01:51] yanhaijing commented on #30
首先感谢提出宝贵意见，同事支持水平滚动的建议我其实还未提上议程，我一直在纠结是否要单例，从代码中就可以看出来，你这需求提的不错，准备搞成多个实例的支持

[2015-06-17 02:02] yanhaijing commented on #27
hi这个其实还是和我开始想着不实现单例的形式有关系（#30 有提到），比如想着屏幕内的一小块区域可以自己滚动，所以才获取的是父元素的高度，这个其实在readme中有重点强调 wp要固定高度

[2015-06-17 11:14] #17 closed, assigned to yanhaijing

[2015-06-23 05:11] yanhaijing commented on #26
hi 维护管官网是需要精力的，而本人精力有限，担心最后会官网更新不及时，而把文档放到代码库里就没有这个问题了

[2015-06-23 05:11] #26 closed, assigned to yanhaijing

[2015-06-23 09:13] yanhaijing commented on #22
https://github.com/wagerfield/parallax 使用这个可以制作视差效果

[2015-06-23 09:13] #22 closed, assigned to yanhaijing

[2015-06-25 03:41] diamont1001 opened #31 "建议把箭头合到插件里"
建议把Demo里的Arrow合到插件里，默认箭头。
有修改箭头样式需求话，大家可以自己在custom.css里自己修改

[2015-06-25 08:16] yanhaijing commented on #31
首先感谢您提出宝贵意见，但是，sorry这个实现非常简单，而且也不是核心功能，zepto.fullpage的核心思想是只做该做的事，并把该做的事做到最好，所以这个请求不能接受

[2015-06-25 08:16] #31 closed, assigned to yanhaijing

[2015-07-24 01:33] maicss opened #32 "效果"
百度知道不能滚动；百度经验的文字图片拉伸的简直不能看；还有这个和www.dowebok.com/77.html这个有关系吗

[2015-07-24 01:34] maicss commented on #32
百度知道不能滚动；百度经验的文字图片拉伸的简直不能看；还有这个和www.dowebok.com/77.html这个有关系吗

[2015-07-24 02:17] yanhaijing commented on #32
@maicss
1. 我看到百度知道是能滚动的，经验的拉伸是自己搞的，和zepto.fullpage 无关哈
2. 当然有关系，都是为了实现同一个效果，只是平台不一样

[2015-08-03 09:58] jiadaoyun opened #33 "大侠好！"
我想问下怎么获取当前页面啊，就是在当前屏的时候，我想做一些其他的操作，比如把最下面的引导箭头给隐藏掉。
我是纯小白见谅。。

[2015-08-03 13:27] yanhaijing commented on #33
使用change事件，change事件中会传入当前屏
doc https://github.com/yanhaijing/zepto.fullpage/blob/master/doc/api.md
demo https://github.com/yanhaijing/zepto.fullpage/blob/master/demo/event.html

[2015-08-03 13:27] #33 closed, assigned to yanhaijing

[2015-08-03 13:28] yanhaijing opened #34 "增加获取当前是第几屏的方法"

[2015-08-08 07:53] yanhaijing opened #36 "zepto.fullpage 可以设置不可返回吗 就是page1滑动到page2 ， 却回不到page1"

[2015-08-08 07:54] yanhaijing commented on #36
这个目前为止不支持，后续计划在change中返回false 可以阻止滑动的设计

[2015-08-08 09:22] #34 closed, assigned to yanhaijing

[2015-08-08 09:33] yanhaijing commented on #36
hi 通过beforeChange 的返回值可以实现这个功能：

[code]

[2015-08-10 13:20] yanhaijing opened #37 "zepto.fullpage.js这个可以不让它滑靠点击去触发吗？"

[2015-08-10 13:22] yanhaijing commented on #37
可以

[code]

自定义点击事件，调用moveNext接口

[code]

[2015-08-12 04:58] 54017 opened #38 "UC浏览器自动计算的高度没有减去底部的tab"
safari是有减掉的，但是UC浏览器没有~。这要手动设置高度吗？

[2015-08-12 06:07] yanhaijing commented on #38
hi 你好，不太明白你的意思，可以说的具体点吗，我在UC上用，好像没什么问题啊

[2015-08-12 07:54] 54017 commented on #38
@yanhaijing  在iPhone5上的UC浏览器计算的页面高度为504px（底部的标签栏也被算入了）, 但是在safari中计算的高度为460px（底部标签栏未被算入）。 所以在UC浏览器中底部的页面会被标签栏遮住。不过安卓版本的UC浏览器是没有问题的。

[2015-08-12 08:52] yanhaijing commented on #38
我勒个去，为何会这样，有没有修复方法？

[2015-08-12 10:38] 54017 commented on #38
浏览器的原因。 或许可以判断出IOS端的UC浏览器，然后再兼容一下吧

[2015-08-14 12:30] #37 closed, assigned to yanhaijing

[2015-09-21 06:37] oadaM92 opened #39 "用了这个框架之后，页面上一些要滚动的元素就滚动不了了。"
例如我有一个弹出框，弹出框里面有很长的内容，我设置了max-height，并且overflow:scroll，但是滚动不了。同样的代码，不用这个框架就可以滚动了。是这个框架监听了相关事件的原因吗？有什么解决方法吗？

[2015-09-21 06:45] oadaM92 commented on #39
$(document).on('touchmove', function(e) {
        e.preventDefault();
    });
我把上面的e.preventDefault();注释掉就可以了。 e.preventDefault();这段代码有必要吗？

[2015-09-21 07:08] oadaM92 commented on #39
原来删除了之后在微信上用就有问题了。。。

[2015-09-21 07:34] yanhaijing commented on #39
这个是这样的，在有些浏览器里，上下左右滑动是有语义的，比如前进后退等，如果不禁止掉这个，特别影像体验，所以不能去掉

关于元素内部的滚动问题，我也只没找到好的解决办法，那个iscroll 可以解决不，其实原理就是在元素上绑定touchmove事件，自定义滚动的动作，我暂时没啥解决办法

[2015-09-21 08:02] oadaM92 commented on #39
嗯，谢谢解答。我现在的解决方法就是需要内部滚动的时候取消监听这个事件：$(document).off('touchmove');
不需要滚动的时候再绑定这个事件。

[2015-09-21 08:17] yanhaijing commented on #39
可以这样hack一下，但是需要写好注释

[2015-09-21 08:18] #39 closed, assigned to yanhaijing

[2015-09-21 12:34] yanhaijing opened #40 "zepto.fullpage 如何实现异步加载？"
例如：每屏内容都是异步载入的 from @zepto.fullpage官方交流群

[2015-09-21 12:35] yanhaijing opened #41 "移动端如何播放声音？"

[2015-09-21 13:45] yanhaijing opened #42 "【官方】收集你期待的特色功能"
大声说出你期待的功能，我都将为你一一实现o(∩_∩)o 哈哈

[2015-09-22 03:53] yanhaijing commented on #23
《[全屏滚动效果H5FullscreenPage.js](http://www.alloyteam.com/2015/04/quan-ping-gun-dong-xiao-guo-h5fullscreenpage-js/)》 这篇文章不错，虽然是不同的插件，但是原理相通

[2015-10-15 11:54] gcfeng opened #43 "在iphone6下，双击屏幕偏下方页面会往下偏移一段距离"
在iphone6，iphone6+下，双击屏幕偏下方页面会往下偏移一段距离，然后在屏幕偏上方位置双击可以恢复回来。没想明白其触发的机理，在touchend事件监听函数中添加以下注释代码可以修复该问题

[code]

[2015-10-16 10:22] yanhaijing commented on #43
只在6和6p上有问题？

[2015-10-17 05:51] gcfeng commented on #43
嗯，我在6和6+测试发现有这个问题，5忘记了，在android机上没重现

[2015-10-17 13:57] yanhaijing commented on #43
好的，感谢，你可以发个pr我看看

[2015-11-02 06:50] imruxin commented on #42
建议增加图片延迟加载功能，这样多屏滑动的时候就不需要一次性全部加载所需要的图片。只需提前预加载一两屏即可，后面的根据需要再不断的lazy load。

[2015-11-03 06:22] calledt opened #44 "安卓版的UC有时翻页的滑动效果会没有"
手机是魅蓝note，系统是4.4.4，UC的版本是10.8.0。用完整版的[fullPage](http://alvarotrigo.com/fullPage/)去试也是这样

[2015-11-03 23:21] yanhaijing commented on #44
目前在休假，你研究研究是为啥呢，可能是bug

[2015-11-16 14:43] lemonred commented on #42
fullpage里的元素可以在手机上滑动吗？ 现在手指滑动不了，是不是被禁用了？

[2015-11-17 02:10] yanhaijing commented on #42
@imruxin 这个功能用接口很容易自己实现的

[2015-11-17 02:11] yanhaijing commented on #42
@lemonred 可以啊

[2015-11-17 02:11] lemonred commented on #42
啊看到啦~~我之前没看源码

[2015-11-17 02:12] lemonred commented on #42
有个document.on(touchmove) preventDefault了 感觉可以绑定在我需要fullpage的元素上~~

[2015-11-17 02:12] yanhaijing commented on #42
@lemonred 感谢反馈

[2015-11-17 02:14] imruxin commented on #42
@yanhaijing 对，自己实现不难，不过如果有直接现成的那么就省得自己在动手了。哈哈～

[2015-11-17 02:15] yanhaijing commented on #42
@lemonred 是的，添加这个主要是因为某些手机，滑动的时候有特效，所以必须阻止touchmove，这个绑定但需要的元素即可，这个后序准备做成可配置的

[2015-11-17 02:16] yanhaijing commented on #42
@imruxin 这个我没打算做到实现里面，这个我后续准备做个demo，你觉得如何？

[2015-11-17 02:18] imruxin commented on #42
@yanhaijing 有个demo也挺好的啊，至少也告诉了使用者怎么在这个插件上快速扩展延迟加载，然后有需要的自己添加实现。

[2015-12-28 08:47] bokebi commented on #9
百度那些案例的JS看的不太懂，好像都封装了~ ~

[2015-12-28 09:14] bokebi opened #45 "能否做一个demo，滑动时，每一屏都有CSS3动画的那种，我是新手，不知道js怎么实现~~"
主要是滑动一屏时，JS是怎么添加动画，做个这种demo，让我们这些新手学习一下吧，百度的那些demo效果很不错，可惜js看不懂~~~~~

[2015-12-28 09:59] yanhaijing commented on #9
@bokebi 这些都是商业例子，都经过fis编译了，所以我也不能不源码给你哈

[2015-12-28 10:01] yanhaijing commented on #45
@bokebi 首先感谢使用，这个我后续加上，zepto.fullpage主张动画都通过css自己来写，会在每一屏当前屏上添加.cur class的，也暴露了当前是第几屏的js接口，也可使用js实现

[2015-12-28 10:02] yanhaijing commented on #45
#25 这里有一个css动画的简单的原理解释

[2016-01-03 18:53] Leeiio opened #46 "页面切换底部闪屏问题"
把示例中的page样式都改成黑色背景，可以更直观地看到闪屏

[code]

上划切换页面，会发现底部有白色闪烁，求解

[2016-01-04 02:26] yanhaijing commented on #46
求 系统版本 浏览器版本 哈

[2016-01-04 03:35] Leeiio commented on #46
iOS 9.2，iPhone  5s，微信内置浏览器

[2016-01-04 04:28] yanhaijing commented on #46
@Leeiio 其他平台有试吗？也有同样的问题？

[2016-01-05 04:49] yanhaijing opened #47 "afterChange 方法中并没有next属性？"
https://github.com/yanhaijing/zepto.fullpage/blob/master/doc/api.md#changebeforechangeafterchange

[2016-01-05 04:52] yanhaijing opened #48 "zepto.fullpage 能不能支持某个页面内的上下滚动条滚动"

[2016-01-05 05:36] yanhaijing commented on #48
这个不支持哦，解决方法，到这个页面 stop掉zepto.fullpage，自己实现滚动条，自己处理切换到下一屏的动作，在下一屏 start zepto.fullpage
zepto.fullpage支持左右滚动 上下滚动只能自己实现了

[2016-01-05 05:45] yanhaijing opened #49 "【官方】收集zepto.fullpage相关资料"
- [不依赖jQuery的全屏类库—zepto.fullpage和fullpage](http://www.csweigou.com/article/1360.html)
- [zepto.fullpage源码注释理解](http://fromiris.github.io/2015/08/03/zepto-fullpage%E6%BA%90%E7%A0%81%E6%B3%A8%E9%87%8A%E7%90%86%E8%A7%A3/)
- [移动端的全屏滚动插件 zepto.fullpage](http://www.lai18.com/content/1478767.html)
- [基于 vue 的单页滚动插件](https://juejin.im/entry/57c64a18efa631005ad323de)
- [zepto.fullpage.js使用心得](http://www.cs

[2016-01-05 06:04] yanhaijing opened #50 "【官方】收集H5滚屏制作库"
报告我发现了一个新的库
- [H5FullscreenPage](https://github.com/lvming6816077/H5FullscreenPage)
- [fullpage](https://github.com/powy1993/fullpage)
- [zepto-onepage-scroll](https://github.com/peachananr/zepto-onepage-scroll)
- [swiper](http://www.swiper.com.cn/)

[2016-01-05 06:12] yanhaijing opened #51 "【官方】收集H5滚屏制作自动化工具"
报告我发现了一款新的工具
- [爆米兔移动营销平台](http://www.baomitu.com/)
- [数说 · Legend(度厂内部)](http://legend.baidu.com/)

[2016-01-06 04:00] sd-knight opened #52 "moveTo的anim参数没有效啊"
不是传入false会没有动画效果，实际传啥都有动画效果。这。。。

[2016-01-06 04:05] #52 closed, assigned to nobody

[2016-01-06 05:30] yanhaijing commented on #52
@sd-knight 你确定？怎么关闭了？

[2016-01-06 08:31] yanhaijing commented on #9
墨迹天气：[圣诞节活动](http://cdn.moji.com/html5/winter/sd/index.html)

[2016-01-07 02:29] yanhaijing opened #53 "有办法禁止他只能想上一个方向翻页吗？比如只能向上或者向下"
from @zepto.fullpage官方交流群

[2016-01-07 02:32] yanhaijing commented on #53
这个可以参考 #36
只能向下翻页的demo:

[code]

[2016-01-07 02:33] yanhaijing commented on #53
from @zepto.fullpage官方交流群
我的需求是 我滑动第三页的时候 当一个变量开关=true的时候他才可以继续向下滑动否则 就只能向上滑动

[2016-01-07 02:33] yanhaijing commented on #53
你自己随意组合吧
beforeChange 显示 返回 false 可以阻止滑动

[code]

[2016-01-08 12:50] claire1028 opened #54 "为何height会是3150px？在mobile上"
$('.wp-inner').fullpage();报错说fullpage 为undefined? 我用Zepto('.wp-inner').fullpage()这样就可行，但是渲染出来的height却是3150px，测试环境是iphone6。

[2016-01-09 07:44] yanhaijing commented on #54
第一个问题：你的$ 可能不是zepto
第二个问题：你说的高度是谁的高度？那个高度会是包含全部子元素的高度，然后需要给父元素的overflow设置为hidden，实现滚动

[2016-01-12 11:35] #53 closed, assigned to yanhaijing

[2016-01-12 11:37] #36 closed, assigned to yanhaijing

[2016-01-12 11:39] #32 closed, assigned to yanhaijing

[2016-01-12 11:46] #27 closed, assigned to yanhaijing

[2016-01-15 04:22] yanhaijing commented on #9
五八同城：http://img.58cdn.com.cn/ds/other/nianwei_m/nianwei.html

[2016-01-15 06:17] yanhaijing commented on #21
作业帮：[不离不弃两年有你，我和作业帮的幸福时光](http://www.zybang.com/zuoyebang/activity/anniversary/test.html)

[2016-01-19 03:39] lb60412 opened #55 "fullpage首屏动画过渡问题"
由于用到fullpage的项目一般都大几百KB以上，特别是图片很多，这个时候，就需要进行前端资源预加载，然后再显示fullpage。流程如下：

1.打开页面首先出现loading页面，然后进行各种资源预加载
2.当资源加载完毕之后 ，初始化fullpage
3.loading页面消失 显示fullpage。问题就在这里，loading页面不能直接消失，fullpage也不能直接出现，这样会吓到用户的，必须给二者增加一个动画过渡（其实就是loading页面平滑消失，fullpage平滑显示）。当二者的动画都执行完毕，发现第一屏已经增加了.cur这个类，旗下动画早已执行完毕，而我需要的是，当二者的过渡动画执行完毕后，再给第一屏增加.cur这个类 ，这样的话 用户就能看到第一屏的动画

说了一堆：需求就是，增加一个fullpage 首次显示时的延时，这个延时只会运行一次。

[2016-01-19 03:51] yanhaijing commented on #9
墨迹天气：[大寒不寒](http://cdn.moji.com/html5/winter/dh/index.html)

[2016-01-20 03:37] bluetomlee opened #56 "监听orientationchange部分手机不支持"
不兼容情况window.matchMedia会好些，或者resize

[2016-01-20 05:07] yanhaijing commented on #56
@bluetomlee 同时监听了 orientationchange 和 resize

[2016-01-20 05:08] yanhaijing commented on #56
@bluetomlee 感谢反馈，我会看看你提到的matchMedia

[2016-01-22 15:48] yanhaijing opened #57 "能否做一个demo，展示如何异步加载每屏的内容"

[2016-01-23 03:19] #54 closed, assigned to yanhaijing

[2016-01-23 03:21] yanhaijing commented on #40
参看 #57

[2016-01-23 03:22] #40 closed, assigned to yanhaijing

[2016-01-23 03:22] #29 closed, assigned to yanhaijing

[2016-01-23 09:33] yanhaijing opened #58 "如何使用animate.css"

[2016-01-23 14:42] #45 closed, assigned to yanhaijing

[2016-01-23 14:42] #47 closed, assigned to yanhaijing

[2016-01-24 07:55] #58 closed, assigned to nobody

[2016-01-24 07:55] #57 closed, assigned to yanhaijing

[2016-01-24 15:55] yanhaijing commented on #48
类似问题 #16

[2016-01-25 05:17] yanhaijing opened #59 "像ipone4 高度这么低，能不能像jquery.fullPage 那样出现滚动条呢？"
from @zepto.fullpage官方交流群

[2016-01-25 05:18] yanhaijing commented on #59
这个其实可以判断一下最小高度小于某个值的时候，不调用zepto.fullpage，即可

[2016-01-26 06:11] #41 closed, assigned to yanhaijing

[2016-01-26 06:11] #59 closed, assigned to nobody

[2016-01-28 07:04] yanhaijing commented on #9
张亮·2015这一年：http://zhangliang.foundpark.com/index.php

[2016-01-30 02:47] yanhaijing commented on #21
[咚咚养车，口袋中的的4S店](http://beta.dabaikj.com/html5/activity/wap/)

[2016-02-01 09:25] yanhaijing opened #60 "如何在手机横屏时有提示功能？"

[2016-02-01 09:26] #60 closed, assigned to nobody

[2016-02-17 15:45] semi-xi commented on #50
[swiper](http://www.swiper.com.cn/)这个算么

[2016-02-18 02:10] yanhaijing commented on #50
@semi-xi 这个可以算，感谢贡献，回头我写到上面去

[2016-03-13 14:41] Niofh opened #63 "如果一个页面有出场动画和出去动画,这个组件应该怎么用啊!!"
如果一个页面有出场动画和出去动画,这个组件应该怎么用啊,我知道afterChange直接增加class类名,还有change移出  ,但我想有个进场动画和出场动画,比如当前页进去的旋转动画,向下或者向上滑动的时候是一个动画...那应该怎么增加class类名呢!! 求帮助!!

[2016-03-13 15:00] yanhaijing commented on #63
http://www.uc.cn/topic/uc10/index.html 这种效果吗？

[2016-03-13 15:02] Niofh commented on #63
对的 ,楼主 ...能说下思路怎么写吗?

[2016-03-13 15:04] yanhaijing commented on #63
目前并不支持出场动画，让我好好想想

[2016-03-13 15:07] Niofh commented on #63
你这个插件好用啊 找了好久啊!! 自己写又写不出了,看了好多视频都是滑动好卡的!!刚UC的项目是你写吗?感觉有点卡啊... 还是感谢楼主 一会儿我试试你的方法写个移动的APP看看行不行,如果你想好了出场和进场动画就通知下我.. 楼主有分享移动端适配问题或者移动注意细节?

[2016-03-13 15:11] yanhaijing commented on #63
UC的不是我写的，是我收集的项目 #21 收集了精美的单屏滚动的demo，#9 是使用zepto.fullpage的项目demo

可以看看issue中标记为【官方】的issue，都是我收集很久的资料

入场动画是支持的，只是出场动画还不支持，想要支持的话需要改源代码，目前不支持，而且我还没打算加入这个功能。。。

[2016-03-15 08:54] taomas commented on #46
我用微信和QQ访问也是的，但是用QQ浏览器不会出现白色闪烁，用UC浏览器个别页面没动画，直接闪一下就过了。

[2016-03-15 12:50] Leeiio commented on #46
@wendaosanshou 你可以试试微信后台退出，然后重新打开看看是不是还这样，我之前的问题是因为微信自己的内存泄露，已经向微信团队求证过

[2016-03-16 01:08] wendaosanshou commented on #46
@Leeiio 应该不是微信的内存泄露，我有两个类似的页面，其中一个从第三个页面开始会出现闪白，另外一个没出现过这种情况。两个在QQ浏览器中使用都不会出现闪白问题。

[2016-03-16 05:26] taomas commented on #46
现在好了，是因为底部用了一个绝对定位的div导致出现了闪白现象。现在用fixed放在最外层就没有出现了。

[2016-03-16 05:41] taomas commented on #55
同求该功能。首次加载的时候图片资源过多，加载速度太慢了。

[2016-03-17 05:06] #46 closed, assigned to nobody

[2016-03-17 05:07] yanhaijing commented on #55
@wendaosanshou 试试这个 https://github.com/yanhaijing/zepto.fullpage/blob/master/demo/lazyload.html 异步加载每屏内容

[2016-03-21 15:05] echopi commented on #56
- 触发orientationchange事件回调函数时有兼容问题，具体表现在回调函数中获取window.innerWidth与window.innerHeight属性上的差异。
- 在safari下，对orientationchange支持很好，当orientationchange触发回调时，使用window.innerWidth能或立刻获取到最新的屏幕高宽。
- 而在Android浏览器下，需要延迟一定的时间，才能获取到正确的屏幕高宽。
- 如果触发回调函数时，立刻使用window.innerWidth，那么，只能取到方向未改变之前的高宽

基于以上，针对安卓设备，对 onorientationchange function 可以考虑加一个延时触发 setTimeout

[2016-03-22 02:28] yanhaijing commented on #56
@echopi给出的方案不错

[2016-03-23 06:28] yanhaijing opened #65 "非循环滚动时，边界屏幕向边界切换时，仍会有duration阻止滑动的时间。"
条件：
- 非循环
- 非拖拽
- 边界屏幕边界方向滑动

[2016-03-27 13:04] Awyan commented on #51
今日头条出品的http://slide.toutiao.com/

[2016-03-27 13:26] niefufeng opened #66 "增加npm install"
如题

[2016-03-27 14:46] yanhaijing commented on #51
@Awyan 感谢提供

[2016-03-27 14:57] yanhaijing commented on #66
首先感谢反馈，但这主要为前端服务，个人感觉不需要

[2016-03-27 15:06] niefufeng commented on #66
现在前端不都是用`npm install`么？像`vuejs`和`bootstrap`都是用`npm`安装的啊！
好吧，主要是`bower`过时了。。。

[2016-03-28 02:09] githubchina commented on #66
是啊，bower过时了，我也打算下掉了，你有npm install的需求吗？

[2016-03-28 02:33] niefufeng commented on #66
我的前端依赖都是用npm安装的

[2016-03-28 05:53] yanhaijing commented on #66
我其实主张大家下载下来手动拷贝过去，这样还能看看demo

[2016-03-28 05:53] yanhaijing commented on #66
是不是觉得这样的成本很高了？但我觉得demo还是挺重要的

[2016-03-28 09:29] niefufeng commented on #66
额，主要是用这种包管理软件，到时候升级方便。。。毕竟项目里一大堆插件

[2016-03-28 13:24] yanhaijing commented on #66
恩 我考虑考虑，不是很赞成

[2016-03-30 09:47] yanhaijing commented on #9
http://ah122.cn/ftp/localuser/cgh/carstory2/

[2016-03-31 00:59] BryanAdamss opened #67 "安卓上，页面若有输入框，输入内容后,会出现屏幕上移，显示后一屏幕的内容"
安卓上，如果当前页面一半以下有输入框，在获取焦点弹出键盘，键盘会遮挡住输入框，在输入完毕后，当前页面会整体上移，导致后一页的一部分会显示出来，继续往后滑动，后面的每一页都会出现相同问题....测试了下,貌似安卓都有这问题....如果将输入框放在页面上部的时候并不会出现这问题....求解决方法...

[2016-03-31 02:17] yanhaijing commented on #67
请提供一个能复现问题的简单demo

[2016-03-31 10:55] ibcLee opened #68 "请问一下可以在单独某一页实现水平滚动么？"

[2016-04-01 02:27] yanhaijing commented on #68
目前来说并不可以，需要自己实现页内的水平滚动

[2016-04-14 05:31] 273000727 opened #69 "麻烦问下，设置水平滑动，里面内容多出隐藏滚动不了，怎么破。。"

[2016-04-14 06:55] githubchina commented on #69
请提供 简单demo

[2016-04-14 06:58] 273000727 commented on #69
已经解决了，谢啦

[2016-04-14 07:05] yanhaijing commented on #69
可以提供下解决办法吗

[2016-04-14 07:10] 273000727 commented on #69
就是刚才在群里面问你的，释放页面触摸

[2016-04-14 07:14] yanhaijing commented on #69
就是想让你留一下你的解决办法，好给后人使用

[2016-04-14 07:17] 273000727 commented on #69
贴码？

[2016-04-14 07:32] yanhaijing commented on #69
貼

[2016-04-20 02:24] 273000727 commented on #69
因为在加载zepto.fullpage.js的时候，页面touchmove事件默认会被禁止，当页面设置左右滑动，单页内页过多则需要上下滑动，解决方法是判断页面内容是否超过屏幕高度(因为整个项目只第三页和第五页要上下滑动我就直接判断页数)，超过则释放页面触摸，PS：(TCL-P520L 安卓4.4.4，Coolpad 5890 安卓4.1.2)两款手机左右和上下有冲突，当释放页面触摸时左右不可滑动，底部导航跳转到其他页面时候，则可继续滑动。

[2016-04-20 05:31] yanhaijing commented on #69
@273000727 这代码格式不能整理一下吗？

[2016-04-20 05:42] 273000727 commented on #69
好像被清掉了。。编辑的时候有缩进的。。

[2016-04-20 05:48] 273000727 commented on #69
[code]

[2016-04-20 07:11] yanhaijing commented on #69
是说你这样做是可以的，只是在某些手机又兼容性问题，你这需求太复杂了，一会上下一会左右，左右中还有上下。。。，你考虑过横屏的。。。或者状态栏收起，导致高度变了

[2016-04-20 07:49] 273000727 commented on #69
我也不想的。。产品那边要左右滑动的同时上下还要滑动。。横屏不考虑，至于高度直接用JS控制。。

[2016-04-22 02:56] yanhaijing commented on #9
一个预加载动画的demo：http://www.itwon.cn/fullpage/index.html

[2016-04-28 07:00] yanhaijing opened #72 "为什么不提供压缩版？"

[2016-04-28 07:01] yanhaijing commented on #72
我不太同意提供压缩后的版本，因为文件其实本身不大，而且真正重视性能的肯定都有自己的构建工具来进行压缩，所以提供压缩版无意义，又不是jq那种很大的库

其次我还希望大家能够阅读源码，并进修过修改

[2016-04-28 07:11] #72 closed, assigned to yanhaijing

[2016-04-28 10:17] hbrls commented on #66
你的意思是建议从 GitHub 手动下载放到本地某个待编译的文件夹里？

[2016-04-28 12:27] yanhaijing commented on #66
是的，因为还有css文件我建议这么做

[2016-05-04 01:10] Alexis374 opened #73 "可以建个gh-pages来放demo"
这样就支持在线预览了

[2016-05-06 02:09] simbaHuang opened #74 "在某一屏放入百度地图，要如何在拖动地图的时候禁止翻页"

[2016-05-10 14:29] hbrls commented on #73
谁在使用 https://github.com/yanhaijing/zepto.fullpage

有很多 demo 啊

[2016-05-13 06:42] ghost opened #75 "如何开启响应click事件?"
想兼容PC

[2016-05-15 07:42] yanhaijing commented on #73
可以参考 #26
demo建议下载到本地查看

[2016-05-15 07:43] yanhaijing commented on #74
在地图的div上 阻止 touch事件的 冒泡

[2016-05-15 07:44] yanhaijing commented on #75
这个需要自己写的：

[code]

[2016-05-23 12:52] #68 closed, assigned to yanhaijing

[2016-06-17 15:23] yanhaijing commented on #9
美食+轩尼诗 http://hennessy.6edigital.cn/fs-invitation/

[2016-06-21 02:55] yanhaijing opened #76 "微信内置浏览器 长按识别二维码 功能的两三个坑与解决方案？"
文章：http://devework.com/weixin-qrcode-bug2.html
DEMO：http://hennessy.6edigital.cn/fs-invitation/

[2016-07-01 05:51] ouzhou commented on #44
我的uc也是这样 请问如何解决

[2016-07-01 06:04] ouzhou opened #77 "UC下屏幕滚动各种姿势不兼容"
最新版本uc android ，我只试了小米5跟魅族metal，结果这2个都有问题

[2016-07-01 06:13] yanhaijing commented on #44
求复现 url

[2016-07-01 06:14] yanhaijing commented on #77
求 复现 url

[2016-07-01 06:20] ouzhou commented on #77
http://115.28.27.147:3000/
滑到第三页的时候就开始有问题了，我觉得吧 是定时器的问题

[2016-07-01 13:21] yanhaijing commented on #77
第三页没内容？？？

[2016-07-01 13:44] ouzhou commented on #77
没写内容，但是到第三页的时候，没有了滚动的效果，直接就跳到了第三页
我还以为是我写法有问题，我跑了一下你的domo，结果发现在安卓的uc下都有问题，具体浏览器版本我测测再说， 都是在滑到第三页就出现没有滚动的动画

[2016-07-02 03:54] yanhaijing commented on #77
恩，亟待反馈UC版本，我之前测过UC都没问题

[2016-08-06 05:34] ouzhou opened #78 "提一个关于在pc端展示的疑惑"
我看到很多网站都先是在pc端有一个展示，然后有一个二维码，可以在移动端扫描，我就想问问，有没有什么办法用这个插件，在pc端有个可以**模拟手机屏幕**，并且鼠标拖动多少那个小手机内部就移动多少

[2016-08-06 05:35] ouzhou commented on #78
![image](https://cloud.githubusercontent.com/assets/7693866/17454932/9d958da8-5bda-11e6-9b13-e0feceace2d7.png)

链接 http://h5.baidu.com/

[2016-08-06 13:54] yanhaijing commented on #78
hi 你好，我想到的思路是，做一个展示页，用iframe连接到活动页面，但需要自己实现在pc端的交互

[2016-08-06 14:02] ouzhou commented on #78
我看到他的代码是用的iframe  。 然后我想知道他是怎么做到pc访问是一个展示页面，移动端访问同一个地址变成了移动端的页面，我想的是判断设备然后针对pc还是移动端 隐藏或者展现一部分元素，请问我的这个思路对吗？

[2016-08-07 03:35] yanhaijing commented on #78
可以在ngix层进行重写吧！

[2016-08-07 14:43] ouzhou commented on #78
感觉重写成本高了 还不如去掉多余的节点

[2016-08-07 14:43] #78 closed, assigned to nobody

[2016-08-10 02:22] demoding commented on #9
thanks！

[2016-08-11 09:41] yanhaijing commented on #21
[吃什么](https://zerosoul.github.io/what_to_eat/)

[2016-08-22 11:20] HankZhi commented on #9
http://jingyan.baidu.com/z/2015-520/index.html
第一页向下滑动可以直接到最后一页，感觉有点怪，imo.

[2016-08-22 13:20] yanhaijing commented on #9
@HankZhi 应该干掉滑动这个功能

[2016-09-15 01:37] liudd596 opened #79 "title"

[2016-09-15 01:37] liudd596 commented on #79
aa

[2016-09-15 01:38] #79 closed, assigned to nobody

[2016-10-21 02:25] wsDever opened #80 "page内部分内容切换"
功能需求：
是不是可以添加page内某一部分的切换。比如竖直切换page时，第3屏里有3个div，想水平切换，目前不支持。

发现问题：
比如竖直切换的时候，若手指是以矩形对角线方向滑动时，水平距离远远大于竖直距离（实际上相当于水平在移动手指，只是稍有偏移），这个时候应该是不响应的，也就是不应该切换，这种场景蛮常见的，是不是应该添加移动时水平和竖直移动距离判断。
我在使用的时候将源码稍做了修改，若切换方向竖直时，当水平距离大于竖直距离时直接返回；水平切换时，判断同理。望见谅。

[2016-10-21 03:17] yanhaijing commented on #80
你好，感谢使用和反馈问题，下面一一解答：

功能需求：
这个系统没有支持，其一是为了简单，其二是我觉得这个你可以自己实现，在beforeChange函数返回false则可以取消本次滑动（前提是关闭drag，不然效果会很奇怪），你只需要简单几行就能够实现这个逻辑

发现问题：
这个确实是一个问题，上面的解决思路很好，但是忽略了一个问题，就是drag开启（跟随手势），你这种判断思路会很奇怪，跟随了很多，然后又会弹回来，而是应该在touchmove时就立刻判断出来是水平还是竖直，但个人感觉,比如你看经验步骤页就是这么做的
http://jingyan.baidu.com/album/ff411625ad416612e5823774.html?picindex=1&stepGroup=E1

附录：
另外可以提供使用zepto.fullpage的在线url，欢迎反馈在这里 #9

[2016-10-25 03:30] wsDever commented on #80
你好，再反馈一个遇到的场景。
某一页在使用的时候，因为需要可能会删除，或者添加。
比如原来只有 6页，现在需要减一页，变成5页。
直接使用update，发现页码并没有变少，而导致在最后有一页空白。
源码上update里面没有更新pages。我修改了源码
在update函数第一行添加：
           `this.$pages = this.$this.find(this.o.page).addClass('fullPage-page fullPage-dir-' + this.o.dir);
            this.pagesLength = this.$pages.length;`
因为项目紧没时间多加测试，暂时不知道会不会引起其它问题，请谅解！

[2016-10-25 13:39] yanhaijing commented on #80
你好，可以提个pr

[2016-10-26 14:40] linzb93 opened #81 "有关zepto.fullpage.js文件暴露方法的一个问题"
就是这句：return fullpage[val].apply(fullpage, [].slice.call(arguments, 0));
我把它改成了return fullpage[val].apply(fullpage, arguments);试了几个结果是一样的，就算被调用的方法也有用到arguments这个关键字。我想问下有没有特殊情况是我没有考虑到的？

[2016-10-26 15:04] linzb93 commented on #81
在《Javascript高级程序设计（第三版）》讲解apply方法时，用的也是arguments而不是转换后的arguments

[2016-10-26 15:09] yanhaijing commented on #81
也行，一样的，我有点画蛇添足了，求提个pr

[2016-10-27 15:29] linzb93 commented on #81
还有2个问题。
1.为什么不把init()函数的代码写进Fullpage()函数里面，而要用call函数？
2.在init函数里面有看到var that = this; 既然this指代的对象在这个函数里面没有变化，为什么还要用 that = this？

[2016-10-28 02:16] yanhaijing commented on #81
关于问题的解答：
问题1：
这个我开始打算把Fullpage暴露出去，想着这样写init就是私有方法，不会对外暴漏了，后来其实fullpage也没暴露出去，所以写在哪里其实没区别

问题2：
我理解的这样写that能够被压缩工具压缩，但是this不会，不过这种行为并不好，压缩工具应该能够压缩this，而不是依赖写代码的行为，而且开启了gzip，this自然会被压缩掉，所以这个也属于一个习惯问题，完全可以不用这么写

要不要提个pr优化下，但是init那个就不用优化了，我后续可能还有别的想法

[2016-10-28 04:33] linzb93 commented on #81
问题1没明白，如果把Fullpage暴露出去的话，init函数里面的this.xx也会暴露的吧？

[2016-10-28 05:01] yanhaijing commented on #81
但是init方法没暴露出去

[2016-10-28 05:50] linzb93 commented on #81
我的意思是init函数里面的代码搬回Fullpage里面，删除init函数。因为其他地方没有再用到init函数了。跟有没有暴露没关系吧？

[2016-10-28 06:21] yanhaijing commented on #81
嗯，看了下可以的，已经忘记当初为何这样写了，可以发个pr

[2016-11-09 06:45] liudianliang opened #84 "如何停止滚屏"
我要在第二屏停止滚动屏幕，通过点击一个按钮来允许继续向下滚屏

[2016-11-09 08:42] yanhaijing commented on #84
此方法有问题，正确方法请看这里 #103
[code]

[2016-11-15 18:09] logoove commented on #16
我也遇到这个问题 没找到解决办法

[2016-11-16 05:05] yanhaijing commented on #16
@logoove 目前没有计划，你可以自己实现

[2016-12-09 06:52] diamont1001 opened #85 "高度有问题"
如果每个page内容本身高度都不到满屏的话，那么初始化后会有问题，不能满屏。

解决方法，在初始化后，主动触发一次 resize

[code]

[2016-12-09 07:01] yanhaijing commented on #85
期 pull request

[2016-12-09 07:30] diamont1001 commented on #85
`<div class="wp">` 这个元素定义好高度就行了

[2016-12-15 06:32] blackie4 opened #86 "快速点击页面会自动翻屏问题"
如题，快速点击页面任意地方概率性的会出现向上或向下翻屏

[2016-12-15 06:33] blackie4 commented on #86
测试发现issues中收集使用zepto.fullpage的案例也会有这个问题

[2016-12-16 03:02] yanhaijing commented on #86
这估计是一个bug，我尝试复现一下

[2016-12-20 09:07] qingtaoliu opened #87 "竖屏滚动如果一屏超出设置overflow:auto; 在微信浏览器中触发不了滚动条"
http://output.jsbin.com/lemificeyi  类似这样的情况 麻烦谁看一下

[2016-12-20 09:08] qingtaoliu commented on #87
Android and IOS 都是这样的

[2016-12-20 10:42] yanhaijing commented on #87
$.fn.fullpage.unholdTouch() 试试这个

[2016-12-21 01:47] liruihaod opened #88 "同一个页面 为什么不能显示多组fullpage?"
同一个页面 为什么不能显示多组fullpage?

[2016-12-21 02:52] yanhaijing commented on #88
先说结论，目前就是不支持

再说下原因：
1. 开始没考虑到多组的需求
2. 单例实现起来比较简单

下一步计划：
其实一直计划搞成支持多组的，但是一直没时间搞，而且api会有很大变动，这个一直是我担心的，不想搞得不向后兼容

结论：
目前暂无支持多组计划

[2016-12-21 06:21] qingtaoliu commented on #87
效果特别不好，在微信浏览器中画不上去

[2016-12-21 06:29] yanhaijing commented on #87
主要还是因为把 document的touch给劫持了，你在你需要有滚动条的元素上添加touchmove事件，组织冒泡吧
但这样在这个元素上滑动就不能翻页了。。。
这样的设计，不太好弄啊。。。

[2017-01-31 03:58] #81 closed, assigned to nobody

[2017-02-21 02:52] yanhaijing commented on #9
58同城：足不出户，躺着赚钱
https://qjz.58.com/yunying/m/cyunying

[2017-03-15 08:27] q27488 opened #89 "如果将zepto.js 改成jQueryjs需要更改哪里？"
1. 首先在zepto.fullpage.js 的 targetTouches 会报错，我将其改为原生的事件：
   e.targetTouches[0].pageX  =》 e.originalEvent.targetTouches[0].pageX
2 .然后changedTouches也报错，我又改成原生的事件：
  e.changedTouches[0].pageY =》 e.originalEvent.changedTouches[0].pageY
3. (function($, window, undefined) { }(zepto, window)) 的  zepto改成 jQuery
  然后使用，无法实现fullpage效果。

*运行环境： chorme 模拟器 iphone6

[2017-03-15 08:35] yanhaijing commented on #89
移动端，还是pc端？

[2017-03-17 06:25] q27488 commented on #89
移动端

[2017-03-17 06:55] yanhaijing commented on #89
目录下有一个原生js的，用这个吧

[2017-03-23 06:23] xiaobai87 opened #90 "为什么报这个错误啊"
Uncaught TypeError: $(...).fullpage is not a function？

<script type="text/javascript">
    $('.wp-inner').fullpage();
</script>
<script type="text/javascript" src="//cdn.bootcss.com/zepto/1.2.0/zepto.js"></script>
<script type="text/javascript" src="zepto.fullpage.js"></script>

[2017-03-23 08:28] yanhaijing commented on #90
调用代码必须放到 引入zepto.js和fullpage.js之后

    <script type="text/javascript" src="//cdn.bootcss.com/zepto/1.2.0/zepto.js"></script>
    <script type="text/javascript" src="zepto.fullpage.js"></script>
    <script type="text/javascript"> $('.wp-inner').fullpage(); </script>

[2017-03-31 03:07] weianzi opened #91 "$(id).fullpage() 如何销毁？"
单页面路由进入后，返回，再次进入，页面全乱，fullpage()没被激活

[2017-04-20 10:21] yinsang commented on #74
document.querySelector(".map-container").addEventListener("touchend", function(e){
    e.stopPropagation()
    //阻止冒泡
})
如果是添加在touchstart 和touchmove事件上是不行的。

[2017-04-20 11:12] yanhaijing commented on #74
$.fn.fullpage.stop() // 停止翻屏
$.fn.fullpage.start() // 开始

[2017-04-25 14:09] yinsang commented on #87
由于document的e.preventDefault()被禁用，导致的当子元素设置hidden:scroll时无法触发滚动。
我这边的需求是一个弹框的滚动。把它放在class为wp的div外面就能滚动了，是为什么？

[2017-05-22 07:17] ninaxue opened #92 "不打算发布个npm包吗"
如题

[2017-05-23 02:53] yanhaijing commented on #92
有需要吗？

[2017-05-23 02:53] yanhaijing commented on #92
有需要就发一个

[2017-05-25 04:01] reallysix commented on #30
现在支持多实例了吗?

[2017-05-25 05:15] yanhaijing commented on #30
还不支持哦，o(╯□╰)o

[2017-05-29 09:07] DeloYong commented on #9
我用的时候出现了比较多问题，他与jquery-1.9.1.min.js冲突

[2017-05-29 09:22] DeloYong opened #93 "zepto.fullpage是否与jq冲突，出现报错"
Uncaught TypeError: $(...).fullpage is not a function
出现这样的报错，我把<script src="js/jquery-1.9.1.min.js"></script>
我去掉<script src="js/jquery-1.9.1.min.js"></script>就没报错了
但是每屏的高度却为0

[2017-05-29 09:31] DeloYong opened #94 "关于移动端，如果有input调用软键盘，页面会出现错位和崩溃"
@yanhaijing
请问目前有好的解决方案吗

[2017-05-31 02:07] yanhaijing commented on #94
@DeloYong 这个没有

[2017-05-31 02:09] yanhaijing commented on #93
我取的是 window.Zepto,，应该不会冲突，但是必须也要引入zepto，如果有问题，你可以试试原生js版

[2017-06-07 02:03] ninaxue opened #95 "点击页面会触发change事件？"

[2017-06-07 02:05] ninaxue commented on #86
同遇到

[2017-06-07 02:19] yanhaijing commented on #86
求 甩个 demo

[2017-06-07 02:19] yanhaijing commented on #86
@ninaxue 是快速点击两次吗？

[2017-06-07 03:43] blackie4 commented on #86
官方收集的demo也有问题，可以试试复现，手指不停的点屏幕试试

[2017-06-09 10:28] ninaxue opened #96 "点击屏幕 也会触发change事件 返回的e.cur不对"

[2017-06-12 03:04] yanhaijing commented on #96
快速点两下，可能触发翻页，你是点一下吗？

[2017-06-12 03:04] yanhaijing commented on #95
据说是，我还没验证

[2017-06-30 05:32] Anderson-James-oss commented on #84
[code]

[2017-06-30 05:40] yanhaijing commented on #84
@koalajun 此方法有问题，正确方法请看这里 #103

[2017-06-30 06:58] huabin commented on #84
@liudianliang 这种问题是属于 issue 么？伸手党么？

[2017-06-30 07:07] huabin commented on #84
@yanhaijing 把这个 issue 关闭吧，看了下提问的这位，伸手党。

[2017-06-30 07:16] #84 closed, assigned to yanhaijing

[2017-07-11 05:19] Anderson-James-oss commented on #21
我厂的 [现场发布会](https://subject.m.autohome.com.cn/dealer/2017/share/beijingshow/)

[2017-08-23 08:21] qq872845379 commented on #67
是因为输入法焦点问题。可在点击输入框后弹出新输入框，位置于页面之上，靠近上边部分。这时候焦点跟输入法就不会冲突。也不存在这个问题了。亲测，已解决

[2017-08-23 08:29] yanhaijing commented on #67
@qq872845379 这儿方法，不错，当输入法遇上输入框，:-(

[2017-08-29 09:12] yanhaijing opened #97 "在第一页或者最后一页，当关闭循环时，如何获取继续下滑的动作？"
这是个滑动切换整屏插件，如果page分页有6屏，当我滑到第6屏时再往下滑动应该是滑不了的，只能往上滑回去，这时想在第6屏加个事件，这个事件只有在第6屏往下滑才触发，往上滑回第5屏是不会触发的，该怎么加，试了好多api都不行
https://segmentfault.com/q/1010000005115817

[2017-09-14 09:51] nikolausliu opened #98 "input框和按钮不能选中、点击。"
是不是源码中禁用了点击事件。因为我在页面中注册的所有点击事件都没用。

[2017-09-14 10:47] yanhaijing commented on #98
在document上禁止了 touch事件，可以使用$.fn.fullpage.unholdTouch 解除这个禁止，禁止这个是为了屏蔽掉Safari里面默认的下拉动画

[2017-09-14 10:48] yanhaijing commented on #98
还可以在你input的父元素绑定一个 touchmove事件，然后阻止冒泡，应该也可以

[2017-09-14 10:52] yanhaijing commented on #98
相关参考 #74 #11

[2017-09-20 09:57] nikolausliu commented on #98
好的，谢谢

[2017-09-20 09:57] #98 closed, assigned to yanhaijing

[2017-10-10 03:14] pyl1995825 opened #99 "在某一屏中设置部分区域为水平滑动，在水平滑动区域不能上下滑动不能实现翻页"

[2017-10-10 17:55] g8up opened #100 "Android 移动端 Chrome V61 下无法整屏垂直滚动"
滚动时不能整屏翻滚。
通过远程调试看到 console 出现 warning：

[2017-10-11 07:12] yanhaijing commented on #100
试了一下 安卓 7.1.1 chrome 61.0.3163.98 是可以的，能够提供下demo

[2017-10-11 16:10] g8up commented on #100
我怀疑是因为滑动时 chrome 的地址栏部分会挤压屏幕高度，导致插件计算错误。请求大大协助~

DOM 结构如此：
![chrome_2017-10-11_23-57-30](https://user-images.githubusercontent.com/8005686/31452174-bf0b5396-aee0-11e7-9b2e-b1556b4336d1.png)

是 fis3 + vue 的项目，绑定 fullpage 通过这个语句：
[code]

[2017-10-12 04:48] yanhaijing commented on #100
<img width="684" alt="wx20171012-124800 2x" src="https://user-images.githubusercontent.com/3192087/31479722-b0f47b36-aede-11e7-8304-7924b894203b.png">
使用方法不对，wp是必不可少的，注意wp的overflow，并且不能给wp和wp-inner设置高度

[2017-10-12 15:42] g8up commented on #100
经过您的提醒，我给`.middle`添加 `overflow: hidden` 后，解决问题， not a bug。
Thx！

[2017-10-12 15:42] #100 closed, assigned to yanhaijing

[2017-11-09 02:56] yanhaijing commented on #21
阿里云：域名时光机
https://m.aliyun.com/act/wanwang-moment

[2017-11-20 08:43] WGinit opened #101 "大神，可否实现下拉无限滚动？"
### 问题是什么
问题的具体描述，尽量详细

### 环境
- 手机: 小米6
- 系统：安卓7.1.1
- 浏览器：chrome 61
- zepto版本：1.1
- zepto.fullpage版本：v0.5.0

### 在线例子
如果有请提供在线例子

### 其他
其他信息

[2017-11-20 09:03] yanhaijing commented on #101
？？？你是说这种单屏滚动效果，能有无限多屏？

[2017-11-22 02:45] WGinit commented on #101
从后台取得数据想一屏显示一条，动态增减dom这样子

[2017-11-22 05:14] yanhaijing commented on #101
https://github.com/yanhaijing/zepto.fullpage/blob/master/demo/lazyload.html
这个懒加载的你可以看看，原理是先用page占位，然后动态往里边添加内容
目前还不支持动态添加page，只能先放一个占位符

[2018-01-18 12:53] zuochenxue opened #102 "IOS10下的Webview中 双击整体webview内容上移"
### 问题是什么
IOS10下的Webview中 双击整体webview内容上移 不用插件无此问题

### 环境
- 手机: iphone 6s
- 系统：IOS10
- 浏览器：webview
- zepto版本：最新demo均有问题
- zepto.fullpage版本：最新demo均有问题

### 在线例子
如果有请提供在线例子

### 其他
其他信息
出问题的截图： http://47.88.155.63/testLib/webview.jpg

[2018-01-24 02:28] web-oop opened #103 "某页禁止下滑只能点击某个按钮跳到下一页。"
### 问题是什么
我想在某一个页面禁止下滑，只能点击某个按钮进入下一页。

[code]

[2018-01-24 04:59] yanhaijing commented on #103
同样的问题 #84 ，但84直接给的解决办法又问题，问题就是上面👆这个同学提出的问题，虽然能够禁止翻页，但是手动的方式也挂了。。。

[code]

解决办法有两种，但都不是很完美，先说第一种

方法一：顺着上面的思路，其实缺少一个参数区分是事件触发的翻屏，还是程序触发的翻屏，这个我后续会考虑加一个参数，dom事件里就有一个参数用来代表是否是用户行为触发，比如`event.isTrusted`

虽然目前没有，但其实只要在引入一个标志位来控制就可以了

[code]

方法二：如果换一种思路，在第七页时，禁止掉翻页的动作就行了，**但此时也无法向上翻页**

[code]

方法三：如果引入了isTrusted，那可以使用下面的方法，**目前还未引入，计划下一个版本，也希望你能提个pr**

[code]

最后感谢反馈，欢迎使用，我计划在未来添加 isTrusted属性，已添加到 [TO

[2018-01-25 08:46] web-oop commented on #103
多谢，多谢！ 我暂时先用第二种方法 应急。 你说的提一个pr我还不太懂。。我后面有空看看。

[2018-01-25 09:06] yanhaijing commented on #103
@web-oop 感谢反馈和使用，如果能提供外网url就更好了，O(∩_∩)O哈哈~

[2018-01-25 09:06] #103 closed, assigned to yanhaijing

[2018-01-30 11:06] web-oop commented on #12
我也遇到了 这个问题，很奇怪的是，还没有调用fullpage()的时候，页面就不能滚动了。是加载了zepto.fullpage.js就不能滚动。有点尴尬。

[2018-01-30 11:08] web-oop commented on #12
并且$.fn.fullpage.stop(); 这个页面某个容器overflow:scroll仍然没有作用。

[2018-01-31 03:09] yanhaijing commented on #12
@web-oop 加载就不能滚动这不可能，执行的时候才会阻止默认的事件，zepto.fullpage在document上绑定了touchmove事件，并且阻止了默认事件preventDefault

[code]

可以通过下面的api来开启阻止和关闭阻止
[code]
`$.fn.fullpage.stop()`中已经调用了`$.fn.fullpage.unHoldTouch()`，所以应该没有问题，你用的哪个版本？是最新的吗？

[2018-01-31 03:24] web-oop commented on #12
不好意思 ，我拿的是以前用过的版本，旧版会这样 新版没试过。谢谢了。

[2018-01-31 04:58] yanhaijing commented on #12
@web-oop 新版应该修复了这个问题

[2018-02-05 05:59] zzk220106 commented on #51
https://github.com/panteng/wechat-h5-boilerplate    这个也可以试试

[2018-02-05 07:21] yanhaijing commented on #51
@zzk220106 感谢反馈

[2018-03-12 10:26] semi-xi opened #104 "6s plus 滚动的时候会出现动画过快"
### 问题是什么
手上一台6s plus 在测试的时候发现滚屏的是会出现异常，具体表现在动画会加速翻页到下一屏，
但是在7就不会出现这个问题，另外一个同事的plus的手机也出现同样的问题。

引用官方的demo(loop.html)也会，但是如果不使用css3去做的话就能正常

### 环境
- 手机: iPhone 6s plus
- 系统：IOS 11.2.6
- 浏览器：微信浏览器
- zepto.fullpage版本：v0.5.0

- 手机: iPhone 7
- 系统：IOS 11.2.6
- 浏览器：微信浏览器
- zepto.fullpage版本：v0.5.0

### 在线例子
如果有请提供在线例子

### 其他
其他信息

[2018-03-12 11:51] semi-xi commented on #104
不太确定是不是因为ios的性能优化导致的，发现重启过后就正常了。
但是如果启用js去计算位置的话就不会有这个问题

[2018-03-13 02:45] yanhaijing commented on #104
重启就正常了。。。那我有点无语了，6s能复现不？手头没6sp

[2018-03-13 03:32] semi-xi commented on #104
@yanhaijing  不一定可以重现。ORZ反正很迷。我们之前判断会不会是ios在某些性能开销过大的时候，就会把css3的transition动画给做掉了，这样看起来就没有动画了。所以你看下你们那边要不要做个备份不用css3而是用js计算去实现之类的

[2018-03-13 11:17] yanhaijing commented on #104
好的，感谢反馈，js的话 应该会比较卡顿

[2018-03-21 01:38] #102 closed, assigned to yanhaijing

[2018-03-21 04:29] yanhaijing commented on #102
解决了吗？

[2018-04-08 10:25] lihuangshuaige opened #105 "页面内部元素的滚动条问题"
### 问题是什么
页面内部有许多文字  设置的是overflow：auto；  但是在页面一滑就直接滑到下一屏  不能浏览剩余的文字  怎么解决

### 环境
-所有

### 在线例子
如果有请提供在线例子

### 其他
其他信息

[2018-04-08 10:55] yanhaijing commented on #105
无解！

[2018-04-08 11:12] lihuangshuaige commented on #105
阻止冒泡也不管用

[2018-04-08 11:19] yanhaijing commented on #105
阻止冒泡 touchmove试试呢？但你肯定希望滚动到底部的时候再滚动就翻页吧？

[2018-04-09 06:34] lihuangshuaige opened #106 "能否在某一页只能上滑 不能下滑"
### 问题是什么
能否在某一页设置只能上滑 不能下滑

[2018-04-09 06:41] yanhaijing commented on #106
参考这里 #103

[2018-04-09 07:12] lihuangshuaige commented on #106
当有属性drag：true时  会出现bug   就是还能滑  只不过不能正常的滑动

[2018-04-09 07:14] yanhaijing commented on #106
哇哇，恭喜你又发现一个bug啊
你想要的操作应该是到这页，禁止下滑，然后通过一个按钮来下滑吧？

[2018-04-09 08:55] lihuangshuaige commented on #106
是的  已经参考你推荐的那个例子了

[2018-04-09 09:07] yanhaijing commented on #106
嗯，解决了就好，感谢使用

[2018-04-11 06:54] lihuangshuaige commented on #94
怎么解决

[2018-04-11 07:01] yanhaijing commented on #94
@lihuangshuaige 目前无解，你这边有好的办法期待反馈哈

[2018-04-11 09:47] lihuangshuaige opened #107 "ios11.3 问题"
### 问题是什么
ios11.3 版本下  下拉网页会出现微信的底部黑框  其他版本未发现

### 环境
ios 11.3
### 在线例子
如果有请提供在线例子

### 其他
其他信息

[2018-04-11 10:39] yanhaijing commented on #107
可否发一下截图？

[2018-04-12 03:19] lihuangshuaige commented on #107
不是我自己的手机    就是在ios11.3版本下  往下拉网页  会导致微信下的域名信息显现出来  但是ios的11.3的以前版本未发现    请问下作者  代码中无法下拉的做法是啥

[2018-04-12 04:00] lihuangshuaige commented on #105
理想的做法是在文字里面滑动 就是文字的滚动， 在文字外面滑动就是滑到下一屏    怎么才能做到

[2018-04-12 06:33] lihuangshuaige commented on #107
![image](https://user-images.githubusercontent.com/26370113/38660027-6a36a3a8-3e5e-11e8-9364-f0f5f9fdd6dd.png)
修改源码，像图片里的那样加个passive：false  就好   亲测有效

[2018-05-31 11:12] WGinit opened #109 "求拓展：后面可以有小程序版吗？"
### 问题是什么
问题的具体描述，尽量详细

### 环境
- 手机: 小米6
- 系统：安卓7.1.1
- 浏览器：chrome 61
- zepto版本：1.1
- zepto.fullpage版本：v0.5.0

### 在线例子
如果有请提供在线例子

### 其他
其他信息

[2018-05-31 11:24] yanhaijing commented on #109
不太明白，小程序不是web页面是吧？

[2018-06-02 01:17] WGinit commented on #109
嗯，有办法在小程序上实现这种效果吗

[2018-06-03 15:36] yanhaijing commented on #109
不太清楚，没有兼容web之外其他平台的计划

[2018-12-20 11:36] DereKEasH commented on #12
@yanhaijing  如何禁止手动滑动这个功能？ 我想要实现点击跳转？ 有API吗？ 禁止手动滑动的api

[2018-12-20 13:48] yanhaijing commented on #12
@DereKEasH 这个issue给的代码就可以

[2019-02-12 05:34] shenxianhui opened #111 "为什么没有npm包吖?"
vue怎么用

[2019-02-13 03:47] yanhaijing commented on #111
未提供npm包，直接下载源代码使用

[2019-02-13 03:47] yanhaijing commented on #111
这个机遇zepto，需要依赖zepto

[2019-02-28 03:34] WGinit opened #112 "网页版微信内置浏览器里，页面内视频退出全屏播放后会导致页面滚动"
环境：
Windows，微信网页版内置浏览器
详情：
在pc端新增了2个上下翻页的按钮，多次点击按钮到一个中间页后，播放页面中的视频，当视频退出全屏播放后，页面会重新从第一页滚动到当前页。。

[2019-04-23 06:07] huyansheng3 opened #113 "建议给容器加上 overflow:hidden"
### 问题是什么
使用者如果不小心给 容器加上了 overflow: scroll ，会导致一屏滚动不生效。建议加上行内样式，去掉默认的滚动

### 环境
- 手机: 小米6
- 系统：安卓7.1.1
- 浏览器：chrome 61
- zepto版本：1.1
- zepto.fullpage版本：v0.5.0

### 在线例子
如果有请提供在线例子

### 其他
其他信息

[2019-09-09 14:42] hlovingness commented on #94
`
.wp{
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
        }
`

[2020-01-07 05:06] ixqbar opened #115 "[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive"
### 问题是什么
demo/basic.html

### 环境
- 手机:
- 系统：pc
- 浏览器：chrome 61
- zepto版本：1.1
- zepto.fullpage版本：v0.5.0

### 在线例子
如果有请提供在线例子

### 其他
其他信息

[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See <URL>

[2020-01-07 06:18] yanhaijing commented on #115
有什么好的解决办法吗？

[2020-01-14 02:56] xing00 opened #116 "结合vue router使用的问题"
### 问题是什么
使用vue router结合zepto.fullpage进行开发，在page.vue里面初始化，然后返回index.vue，再进入page.vue就不能滑动了，看了一下源码是在fullpage初始化的时候，做了全局变量fullpage是否为null的判断，由于上一次进入page.vue的时候全局变量fullpage已经有值了，所以再次进入没有执行初始化，不知道算不算bug，我添加了destroy方法，将全局变量fullpage改为null，问题解决。
`    destroy: function() {
      fullpage = null
    }`

### 环境
- 手机: 任何手机
- 系统：任何系统
- 浏览器：任何浏览器
- zepto版本：1.1
- zepto.fullpage版本：v0.5.0

### 在线例子
没有例子

### 其他
没有

[2020-01-14 03:14] yanhaijing commented on #116
你用的js版本，还是zepto版本？

[2020-01-14 03:14] xing00 commented on #116
zepto

[2020-01-14 03:25] yanhaijing commented on #116
是说缺少一个destroy api？那是不是可以提个pr

[2020-01-14 03:25] yanhaijing commented on #116
一直没时间重构，这个插件的架构已经明显跟不上现在了，也不支持ts，😄

[2020-01-14 03:26] xing00 commented on #116
哈哈哈，现在用也挺好用的，还没提过pr，我提个pr试试

[2020-08-03 06:46] albb58 opened #118 "移动端输入框获取焦点弹出软键盘时，安卓系统会强制页面布局上移，目前有什么解决方法吗"
### 问题是什么
问题的具体描述，尽量详细

### 环境
- 手机: 小米6
- 系统：安卓7.1.1
- 浏览器：chrome 61
- zepto版本：1.1
- zepto.fullpage版本：v0.5.0

### 在线例子
如果有请提供在线例子

### 其他
其他信息

[2020-08-03 06:57] yanhaijing commented on #118
如果能贴个demo url，就棒棒的，我好看看效果😄

[2020-08-03 06:58] yanhaijing commented on #118
是不是可以设置一个最小高度？

[2020-08-03 09:53] ixqbar commented on #118
失去焦点时强制页面滚动到top
[code]

[2020-08-03 12:37] albb58 commented on #118
暂时解决了，给.wp加了一个获取屏幕高度

[2020-11-18 03:00] yanhaijing commented on #21
天下足球20周年
https://vod.cctv.cn/cctv/cctvh5/cctv5/2020/11/tianxiazuqiu/index.html

[2020-12-22 05:37] 34892002 commented on #115
@yanhaijing 修改146行
line 146
`
holdTouch: function() {
    // $(document).on('touchmove', touchmove);
    window.document.addEventListener('touchmove', touchmove, { passive: false })
}
`
`
unholdTouch: function() {
    // $(document).off('touchmove', touchmove);
    window.document.removeEventListener('touchmove', touchmove)
}
`

[2020-12-22 06:24] yanhaijing commented on #115
@liohao 欢迎提个pr，感觉还得判断下是否支持第三个参数是对象吧

[2021-01-04 14:20] ZhaoTim opened #119 "在微信内打开demo向下滑动没有按照预期返回到上一屏"
体验很棒~但是刚刚在微信内打开demo例子，向下滑动时，并没有按照预期返回到上一个屏，而是露出白底，文案是:**QQ浏览器X5内核提供技术支持。**

[2022-03-16 08:30] zhengen008 opened #120 "vue使用full-page.js,手机端访问页面时如何禁用整屏滚动，而正常滚动"
### 问题是什么
问题的具体描述，尽量详细

### 环境
- 手机: 小米6
- 系统：安卓7.1.1
- 浏览器：chrome 61
- zepto版本：1.1
- zepto.fullpage版本：v0.5.0

### 在线例子
如果有请提供在线例子

### 其他
其他信息

[2022-03-16 09:50] yanhaijing commented on #120
这两个试试，但是何时再次开启滚动呢？
[code]